@model INETAssignment1.Models.Concert

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concert</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.concertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.concertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.concertTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.concertTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.concertID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
