@model INETAssignment1.Models.Concert

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concert</h4>
    <hr />
    @if (!String.IsNullOrEmpty(Model.filename))
    {
        <div>
            <img src="@Model.filename" alt="@Model.filename" class="w-50" />
        </div>
    }
    else
    {
        <div>
            <img src="https://nscc0513060storageblob.blob.core.windows.net/concerthub-photo-uploads/placeholder-1-e1533569576673.webp" alt="@Model.filename" class="w-50 my-2" />
        </div>
    }
    <dl class="row">
        <dt class = "col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.concertName)
        </dt>
        <dd class="col-sm-10 my-2">
            @Html.DisplayFor(model => model.concertName)
        </dd>
        <dt class="col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.tourName)
        </dt>
        <dd class="col-sm-10 my-2">
            @Html.DisplayFor(model => model.tourName)
        </dd>
        <dt class="col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.headliningBand)
        </dt>
        <dd class="col-sm-10 my-2">
            @Html.DisplayFor(model => model.headliningBand.bandName)
        </dd>
        <dt class="col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.concertLocation)
        </dt>
        <dd class="col-sm-10 my-2">
            @Html.DisplayFor(model => model.concertLocation.locationName)
        </dd>
        <dt class="col-sm-2 my-2">
            @Html.DisplayNameFor(model => model.concertTime)
        </dt>
        <dd class="col-sm-10 my-2">
            @(Model.concertTime.ToString("MMMM d, yyyy, h:mm") + Model.concertTime.ToString("tt").ToLower())
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.concertID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
