@model IEnumerable<INETAssignment1.Models.Concert>

@{
    ViewData["Title"] = "Index";
}

<h1>Concerts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.concertName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tourName)
            </th>
            <th>
                Headlining Band
            </th>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.concertTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @if (!String.IsNullOrEmpty(item.filename))
                {
                    <img src="/photos/@item.filename" alt="@item.filename" class="thumbnail" />
                }
                else 
                {
                    <img src="/photos/placeholder-1-e1533569576673.webp" alt="@item.filename" class="thumbnail" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.concertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.headliningBand.bandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.concertLocation.locationName)
            </td>
            <td>
                @(item.concertTime.ToString("MMMM d, yyyy, h:mm") + item.concertTime.ToString("tt").ToLower())
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.concertID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.concertID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.concertID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
