@model IEnumerable<INETAssignment1.Models.Band>

@{
    ViewData["Title"] = "Index";
}

<style>
    .bands-table {
        table-layout: fixed;
        width: 100%;
    }

    .band-desc {
        max-width: 550px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
    }

    .band-name {
        width: 18%;
    }

    .genre-name {
        width: 18%;
    }

    .actions {
        width: 16%;
        white-space: nowrap;
    }
</style>

<h1>Bands</h1>

<p><a asp-action="Create">Create New</a></p>

<table class="table bands-table">
    <colgroup>
        <col class="band-name" />
        <col style="width: auto;" />
        <col class="genre-name" />
        <col class="actions" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bandDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.bandName)
                </td>
                <td class="band-desc">
                    @Html.DisplayFor(m => item.bandDescription)
                </td>
                <td>
                    @Html.DisplayFor(m => item.genre.genreName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.bandID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.bandID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.bandID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
